.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
#temp server is a simple Express server to do the APIS tests on dev.
tempserver/
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
